/* --- СТИЛИ ДЛЯ ВКЛАДКИ: ИСТОРИЯ --- */

/* Коробка для архивного месяца */
.history-box {
    background: rgba(223, 230, 233, 0.4);
    /* Легкий пыльно-архивный оттенок */
    border: 1px dashed var(--hint-ink);
    border-radius: 12px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.history-box .form-group {
    border-bottom: none;
    /* Тут всего одно поле, разделительная линия не нужна */
    margin-bottom: 0;
}

/* Кнопка в виде архивной папки */
.btn-history {
    background-color: #b2bec3;
    /* Строгий серый цвет */
    color: var(--ink-color);
    border: 2px solid var(--ink-color);
    border-radius: 10px 25px 15px 20px / 20px 10px 25px 15px;
    /* Уникальная крафтовая кривизна */
    width: 100%;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Neucha', cursive;
    cursor: pointer;
    box-shadow: 3px 4px 0px rgba(44, 62, 80, 0.2);
    transition: all 0.1s;
    margin-top: 5px;
}

.btn-history:active {
    transform: translate(3px, 4px);
    box-shadow: none;
}